body {
  height: 100vh;
  overflow: hidden;
}
.cup {
  margin: auto;
  height: 65vh;
  width: 300px;
  border: 1px solid black;
  margin-top: 150px;
  border-bottom-left-radius: 140px;
  border-bottom-right-radius: 140px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  /* padding: 0; */
}
.orange_l {
  background: #ffaf00;
  animation: intro 2s forwards;
}
.apple_l {
  background: #df963743;
  animation: intro 2s forwards;
}
.grape_l {
  background: #5f1c74;
  animation: intro 2s forwards;
}
.fizz1 {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #aaa;
  grid-area: fizz1;
}

.fizz2 {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #aaa;
  grid-area: fizz5;
}

.fizzy_l {
  background: url(sparkly.jpg);
  opacity: 0.5;
  animation: intro 2s forwards;
}

.mango_l {
  background: #ffae00;
  opacity: 0.5;
  animation: intro 2s forwards;
}
#tb {
  position: absolute;
}
.h-t {
  display: none;
}
.v-t {
  display: flex;
  animation: tintro 5s forwards;
}
@keyframes intro {
  0% {
    height: 0px;
  }
  50% {
    transform: rotate(-0.5deg);
  }
  100% {
    height: 50px;
    transform: rotate(0deg);
  }
}
@keyframes tintro {
  0% {
    transform: translate(-30%, -500%);
  }
  50% {
    transform: translate(-30%, 5%);
  }
  100% {
    transform: translate(-30%, -10000%);
  }
  120% {
    display: none;
  }
}

#ending,
#rarity,
#ending_p {
  text-align: center;
}
.strawn {
  display: none;
}
.strawv {
  height: 82vh;
  width: 20px;
  transform: rotate(19deg);
  background: hsla(57, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF200", endColorstr="#ED2B2B", GradientType=1 );
  position: absolute;
  right: 48%;
  bottom: 13.2%;
  animation: sintro 2s forwards;
}
.strawvwe {
  height: 82vh;
  width: 20px;
  transform: rotate(19deg);
  background: hsla(57, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(57, 100%, 50%, 1) 0%,
    hsla(0, 84%, 55%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF200", endColorstr="#ED2B2B", GradientType=1 );
  position: absolute;
  right: 48%;
  bottom: 2.7%;
  animation: sintro 2s forwards;
}
body {
  /* background-color: red; */
}
@keyframes sintro {
  0% {
    transform: translate(-0%, -500%) rotate(19deg);
  }
  100% {
    transform: translate(-0%, -0%) rotate(19deg);
  }
}
@media (max-width: 414px) {
  .cup {
    margin-top: 100px;
  }
  .strawvwe {
    bottom: 5%;
    right: 44%;
    height: 72vh;
  }
  .strawv {
    bottom: 20%;
    right: 42%;
    height: 72vh;
  }
}
